<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445458896779-mbuv71srdmknuvc315aeckcg1bl49hr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445458896779-mbuv71srdmknuvc315aeckcg1bl49hr6</string>
	<key>API_KEY</key>
	<string>AIzaSyA6YDr2qm_n_eoOR-9gX96zxcU3Tw2gwI0</string>
	<key>GCM_SENDER_ID</key>
	<string>445458896779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jacketStash</string>
	<key>PROJECT_ID</key>
	<string>jacketstash</string>
	<key>STORAGE_BUCKET</key>
	<string>jacketstash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445458896779:ios:29ccf5e0119970d605418e</string>
</dict>
</plist>